* linguist-vendored

*.css linguist-detectable=false
*.xml linguist-dectable=true
# *.java linguist-vendored=true
# *.xml linguist-vendored=true



# *.java linguist-detectable=true
# *.js linguist-detectable=false
# *.html linguist-detectable=false
# *.xml linguist-detectable=true
