<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.home_services">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Home_Services">
        <!-- ======================================================================================== -->
        <activity android:name=".PasswordSetup"
            android:label="Setup Your Password"
            android:parentActivityName=".Details" />
        <activity
            android:name=".Details"
            android:label="Details"
            android:parentActivityName=".Verification" />
        <activity
            android:name=".HomePage"
            android:label="Welcome to HomieMart!"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ForgotPassword"
            android:label="Forgot Password"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Signup"
            android:label="SignUP"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Verification"
            android:label="Verification"
            android:parentActivityName=".Signup" /> <!-- ======================================================================================== -->
        <!-- ======================================================================================== -->
        <!-- ======================================================================================== -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>